@charset "UTF-8";

body {
  font-family: Lato;
}

.font-f-Raleway {
  font-family: Raleway;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-inner {
  box-sizing: border-box;
  padding: 15px;
}

.header__logo {
  color: #4e4e4e;
  float: left;
  font-size: 45px;
}

.header__btn {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: all 0.3s;
}

.header__menu {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #ddd;
  display: none;
  float:right;
  font-size: 25px;
  padding: 10px;
}

.header__btn:hover {
  color: #333;
}

.main {
  padding-top: 77px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0 250px;
  text-align: center;
}

.title__copy {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title__copy__sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.explanation {
  background-color: #74cfae;
}

.explanation-inner {
  color: #fff;
  display: flex;
  padding-top: 50px;
}

.explanation__img__wrapper {
  margin:0 110px;
  text-align: center;
}

.explanation__heading {
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
}

.explanation__text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.portfolio {
  background-color: #f2f2f2;
}

.portfolio-inner {
  padding: 60px 0 70px;
}

.portfolio__heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio__img__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__img {
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: all 0.3s;
}

.portfolio__img:nth-child(3n+1) {
  margin-left: 0;
}

.portfolio__img:nth-child(-n+3) {
  margin-top: 0;
}

.portfolio__img:hover {
  opacity: 1;
}

.portfolio__mail {
  align-items: center;
  display: flex;
  margin: 90px auto 0;
  width: 62%;
}

.portfolio__mail__text {
  color: #333;
  text-align: center;
}

.portfolio__mail__btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  white-space: nowrap;
}

.portfolio__mail__btn:hover {
  color: #333;
}

.skils {
  background-color: #4e4e4e;
}

.skils-inner {
  padding-bottom: 100px;
  padding-top: 70px;
}

.skils__wrapper {
  display: flex;
  justify-content: center;
}

.skils__heading {
  color: #fff;
  font-size: 24px;
  margin-bottom: 70px;
  text-align:center;
}

.skils__item {
  color: #fff;
  margin-left: 180px;
}

.skils__item:nth-child(1) {
  margin-left: 0;
}

.skils__text {
  margin-top: 10px;
  text-align: center;
}

.social {
  background-color: #f2f2f2;
  width: 100%;
}

.social-inner {
  display: flex;
  font-size: 45px;
  justify-content: center;
  padding: 200px 0;
}

.social__icon {
  color: #74cfae;
  padding: 25px 0;
  text-align: center;
  transition: all 0.3s;
  width: 185px;
}

.social__icon:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-inner {
  padding: 20px 0 ;
}

.footer__text {
  color: #fff;
  float: right;
}



@media (max-width: 1199px){
  .inner {
    width: 97%;
  }

  .explanation-inner {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .explanation__img__wrapper {
    margin: 0 auto;
  }

  .explanation__text__wrapper {
    margin: 20px auto 0;
  }

  .portfolio__img__wrapper {
    align-items: center;
    flex-direction: column;
    line-height: 0;
    margin-bottom: 80px;
  }

  .portfolio__img {
    margin: 0;
  }

  .portfolio__img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .portfolio__img:last-child {
    margin-bottom: 0;
  }

  .portfolio__mail {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .portfolio__mail__text {
    margin-bottom: 40px;
  }

  .portfolio__mail__btn {
    margin: 0;
  }

  .skils-inner {
    padding-bottom: 0;
  }

  .skils__wrapper {
    flex-direction: column;
    padding-bottom: 88px;
  }


  .skils__item {
    margin: 0 auto 88px;
  }

  .skils__item:last-child {
    margin-bottom: 0;
  }

  .skils__item:nth-child(1) {
    margin-left: auto;
  }

  .social__icon {
    width: 25%;
  }

}

@media (max-width: 767px){
  .header__btn {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .title-inner {
    padding: 160px 0 130px;
  }

  .title__copy {
    font-size: 80px;
  }

  .title_br::before {
	content: "\A" ;
	white-space: pre ;
  }

  .social-inner {
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
  }

  .social__icon {
    width: 100%;
  }

}
